.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Set preloader background to black */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100px; /* Change this to the width of your logo */
  height: 100px; /* Change this to the height of your logo */
  position: relative;
  animation: flicker-rotate 1s linear infinite;
}

.logo-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

@keyframes flicker-rotate {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0.8;
    transform: rotate(0.5deg);
  }
  20% {
    opacity: 1;
    transform: rotate(1deg);
  }
  30% {
    opacity: 0.6;
    transform: rotate(2deg);
  }
  40% {
    opacity: 1;
    transform: rotate(5deg);
  }
  50% {
    opacity: 0.4;
    transform: rotate(11deg);
  }
  60% {
    opacity: 1;
    transform: rotate(22deg);
  }
  70% {
    opacity: 0.2;
    transform: rotate(45deg);
  }
  80% {
    opacity: 1;
    transform: rotate(90deg);
  }
  90% {
    opacity: 0.1;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* Stop animation after 4 seconds */
.preloader-container {
  animation: fadeOut 1s 4s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}


body {
  background-color: black;
  color: #fff;
  margin: 0;
	padding: 0;
  
}
	
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.navbar img {
  height: 35px;
  width: auto;
  margin-right: auto;
  margin-left: 10px;
}

.navbar nav {
  margin-right: 10px;
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar nav li {
  margin: 0 10px;
}

.navbar nav a {
  
  font-size: 16px;
  text-decoration: none;
}

.navbar nav li:nth-child(2n) a {
  color: white;
}

.navbar nav li:nth-child(2n+1) a {
  color: #ff004f;
}


.navbar nav a {
  color: fuchsia;
  position: relative;
  text-decoration: none;
}

.navbar nav a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  animation: underline 0.3s forwards;
}

.navbar nav li:nth-child(2n) a {
  color: white;
}

.navbar nav li:nth-child(2n) a:hover::before {
  background-color: #ff004f;
}

.navbar nav li:nth-child(2n+1) a:hover::before {
  background-color: white;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

